:root {
  /* SIZES */
  --iphone-width: 1179px;
  --iphone-height: 2556px;
  /* --calculator-width: min(calc(var(--iphone-width) / 3.5), 100%); */
  --button-gap: 0.75rem;
  --fs-normal: 2.25rem;
  --fs-large: 5rem;

  /* COLORS */
  --clr-neutral-000: #fff;
  --clr-neutral-500: #a5a5a5;
  --clr-neutral-400: #5b5b5b;
  --clr-neutral-300: #333333;
  --clr-neutral-900: #000;
  --clr-primary: #ff9812;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--clr-neutral-900);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--clr-neutral-000);
  font-size: var(--fs-normal);
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* align-items: flex-end; */
  /* background: rgb(118, 41, 41); */
}

a {
  &:hover {
    cursor: pointer;
  }
}

.calculator {
  /* width: var(--calculator-width); */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 900px;
  /* outline: 1px solid green; */
}

.display {
  text-align: right;
  margin-inline: 24px;
  align-content: center;
  height: 96px;
  text-wrap: nowrap;
  font-weight: lighter;
  /* outline: 1px solid yellow; */
  font-size: 80px;
}

.buttons {
  /* width: 100%; */
  padding: var(--button-gap);
  /* gap: var(--button-gap); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* outline: 1px solid pink; */
}

button[value="0"] {
  grid-column: 1 / span 2;
  aspect-ratio: 2;
}

button::before {
  content: "";
  background-color: var(--clr-neutral-000);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100vw;
  display: block;
  color: var(--clr-neutral-000);
  position: absolute;
  opacity: 0;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
}

button[value="0"]::before {
  aspect-ratio: 2;
}

button:not([aria-current="true"]):hover::before {
  opacity: 0.1;
}

button:not([aria-current="true"]):active::before {
  opacity: 0.5;
}

button[aria-current="true"] {
  background-color: var(--clr-neutral-000) !important;
  & svg {
    color: var(--clr-primary) !important;
  }
}

svg {
  stroke-width: 2.25;
}

.display-buttons svg {
  stroke-width: 2;
}

button {
  border: none;
  z-index: 10;
  position: relative;
  border-radius: 100vw;
  background-color: var(--clr-neutral-300);
  aspect-ratio: 1;
  color: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: var(--fs-normal);
    height: var(--fs-normal);
  }
  &:hover {
    cursor: pointer;
  }
}

button.backspace > svg {
  /* margin-right: 0.33rem; */
}

button.percent,
button.negative,
button.clear {
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-900);
}

button.operator,
button.equals {
  background-color: var(--clr-primary);
}

.display-buttons {
  visibility: hidden;
  align-items: center;
  display: flex;
  /* width: 100%; */
  /* outline: 1px solid red; */
  padding-inline: 0.5rem;
  /* background: red; */
}

.display-wrapper:hover .display-buttons {
  visibility: visible;
}

.display-buttons button {
  background: none;
  /* color: var(--clr-neutral-300); */
  color: var(--clr-neutral-400);
  width: 2rem;
  height: 2rem;
}

.display-buttons span {
  visibility: hidden;
  margin-left: auto;
  /* margin-left: 0.25rem; */
  /* justify-self: flex-end; */
  /* align-self: flex-end; */
  font-size: 1rem;
  color: var(--clr-neutral-500);
}

.display-buttons button:hover {
  color: var(--clr-neutral-000);
  &::before {
    opacity: 0;
  }
}

button:not([aria-current="true"]):hover::before .backspace svg {
  width: 1.75rem;
}

.copy svg {
  width: 1.5rem;
}

footer {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  /* height: 3rem; */
  height: min(10%, 4rem);
  /* padding-bottom: min(10svh, 5rem); */
  /* background: rgb(111, 111, 40); */
  /* padding: 1.5rem; */
  /* padding-block-end: 1rem; */
}

footer > p {
  color: var(--clr-neutral-500);
}

footer > p > a {
  /* align-self: flex-start; */
  /* background: red; */
  /* text-decoration: none; */
  color: var(--clr-neutral-000);
  font-weight: bold;
}

@media (max-width: 500px) {
  body {
    overflow: hidden;
  }
  main {
    align-items: flex-end;
  }
  .display-buttons {
    display: none;
  }
}
