:root {
  /* SIZES */
  --calculator-width: min(430px, 100%);
  --button-gap: 1rem;
  --fs-normal: 2.5rem;
  --fs-large: 5rem;

  /* COLORS */
  --clr-neutral-000: #fff;
  --clr-neutral-500: #a5a5a5;
  --clr-neutral-300: #333333;
  --clr-neutral-900: #000;
  --clr-primary: #f3a23c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid white; */
}

body {
  background-color: var(--clr-neutral-900);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--clr-neutral-000);
  font-size: var(--fs-normal);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.calculator {
  width: var(--calculator-width);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  max-height: 900px;
}

.display {
  text-align: right;
  flex-grow: 1;
  padding-inline: 2rem;
  padding-block-start: 1rem;
  font-size: var(--fs-large);
  font-weight: 100;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding: var(--button-gap);
  gap: var(--button-gap);
}

button::before {
  content: "";
  background-color: var(--clr-neutral-000);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100vw;
  display: block;
  color: white;
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: 100ms;
}

button:not([aria-current="true"]):hover {
  &::before {
    opacity: 0.1;
  }
}

button[aria-current="true"] {
  background-color: var(--clr-neutral-000) !important;
  & svg {
    color: var(--clr-primary) !important;
  }
  transition: 100ms;
}

svg {
  stroke-width: 2.25;
}

button {
  border: none;
  z-index: 10;
  position: relative;
  border-radius: 100vw;
  background-color: var(--clr-neutral-300);
  width: calc(((var(--calculator-width) / 4) - calc(var(--button-gap) * 0.75)));
  aspect-ratio: 1;
  color: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms !important;
  & svg {
    width: var(--fs-normal);
    height: var(--fs-normal);
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: var(--clr-neutral-000) !important;
    transition: background-color 0ms !important;
  }
}

button.backspace > svg {
  margin-right: 0.33rem;
}

button.percent,
button.negative,
button.clear,
button.backspace {
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-900);
}

button.operator,
button.equals {
  background-color: var(--clr-primary);
}

@media (min-width: 431px) {
  .calculator {
    border: 1px solid var(--clr-neutral-500);
  }
}
